<mat-nav-list>
          
        <a *ngIf="!isAuth" mat-list-item [routerLink]="['/signup']" routerLinkActive="active"
         (click)="onClose()" >
        <mat-icon>face</mat-icon>
       <span class="nav-caption" > SignUp
       </span>
      </a>

      <a *ngIf="!isAuth" mat-list-item [routerLink]="['/login']" routerLinkActive="active"
       (click)="onClose()">
        <mat-icon>input</mat-icon>
       <span class="nav-caption" >Login
       </span>
      </a>

      <a *ngIf="isAuth" mat-list-item [routerLink]="['/training']" routerLinkActive="active" 
      (click)="onClose()">
        <mat-icon>fitness_center</mat-icon>
       <span class="nav-caption" >Training</span>
      </a>

      <mat-list-item>
        <button *ngIf="isAuth" mat-icon-button (click)="onLogout()">
          <mat-icon>eject</mat-icon>
       <span class="nav-caption"> LogOut</span>

        </button>
      </mat-list-item>
    
  </mat-nav-list>