<section>
<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap = "10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field >
            <input type="email" matInput ngModel name="email" email required #emailField="ngModel"
            placeholder="Your email">
            <mat-error *ngIf="emailField.hasError('required')" >Email is Required</mat-error>
            <mat-error *ngIf="!emailField.hasError('required')" >Enter a valid Email</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel= "should be 6 characters long." >
            <input type="password" required
             matInput ngModel name="password" #pswLength="ngModel" minlength="6"
             placeholder="Your password">
             <mat-hint align="end">{{pswLength.value?.length}}/6</mat-hint>
             <mat-error *ngIf="pswLength.hasError('required')">Password required</mat-error>
             <mat-error *ngIf="!pswLength.hasError('required')" > Please enter 6 characters long password.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput required ngModel name="birthdate"
            [matDatepicker]="picker" placeholder="Choose a date" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-checkbox ngModel name="agree" color="primary" required>Agree to Terms and Conditions</mat-checkbox>


        <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Submit</button>

    </form>
</section>